body {
    background: black;
    color: white;
}
img {max-width: 100%;}
a {color: lightblue;}

button {
    background: #ccc;
    font-size: 24px;
    padding: 5px;
    width: 45%;
    max-width: 180px;
    margin: 5px;
}

button.correct {
    background: #6c6;
    transition: background 500ms;
}

.right-img {width: 30%; float: right;}
